
.nav-bar{
    background-color: rgba(36,36,36);
    box-shadow: 0 10px 30px 2px #1212125e;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.nav-bar nav ul{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.nav-bar nav ul li {
    margin: 30px 20px;
    list-style: none;
}

.nav-bar nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-bar nav ul li a:active{
    text-decoration: underline;

}